<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Available Plugin Updates</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-transparent">
    <div class="p-4">
        <div id="container" class="max-w-1xl mx-auto p-4">
            <div id=" card" class=" rounded-2xl bg-blue-50 shadow-md overflow-hidden">
                <div class="p-8">
                    <h3 class="text-2xl font-bold text-center text-blue-700">可用的插件更新</h3>
                    <div class="mt-4 space-y-4">
                        {% for plugin in plugins %}
                        <div class="bg-white rounded-xl shadow-md overflow-hidden">
                            <div class="p-4">
                                <h4 class="text-xl font-bold text-gray-800">{{ plugin.name }}</h4>
                                <p class="text-gray-600">当前版本: {{ plugin.current_version }}</p>
                                <p class="text-gray-600">最新版本: {{ plugin.latest_version }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>