name: TypeCheck CI

on:
  push:

jobs:
  Mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: uv sync --locked --group dev
        shell: bash

      - name: Run Mypy
        shell: bash
        run: uv run mypy ./nonebot_plugin_updater
